/* Home Page */
.homepage{
  display: grid; 
  grid-template-columns: 1fr; 
  grid-template-rows: [row2-start] auto [row2-end];
  gap: 0px 0px; 
}

.homeimage{
  display:grid;
  max-width: 100%;
}

.image{
 max-width: 1040px;
  max-height: auto;
  background:center center/cover no-repeat;
}

.h1{
  display:grid;
  position:absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
  text-align: center;
  font-size: 50px;
  color: rgb(230, 6, 6);
}
.homefooter{
  display:grid;
  justify-content: center;
  text-align: center;
}


.navbar{
display: grid;
background-color: hotpink;
}

li{
  float:left;
  padding: 25px;
}

.icons{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 50px ;
  justify-content: space-evenly;
  row-gap: 100px;
  column-gap: 100px;
  
}