/* Home Page */
.homepage{
  display: flex;
 
}

.homeimage{
  display:flex;
  max-height: 100vh;
  max-width: 100%;
}

img{
  max-width: 100%;
  max-height: 100vh;
  max-height: auto;
}

.h1{
  display:flex;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 50px;
  font-family: 'Poppins', sans-serif;
  color: white;
}



.navbar{
display: grid;
background-color: black;
color: white;
font-family: 'Poppins', sans-serif;

}

li{
  float:left;
  padding: 25px;
}

.icons{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 50px ;
  justify-content: space-evenly;
  row-gap: 100px;
  column-gap: 100px;
  
}

.homebutton{
  display: grid;
 background-color: tomato;
  width: 100px;
  justify-content: center;
  position: absolute;
  font-family: 'Poppins', sans-serif;
  top: 50%;
  left: 50%;
  transform: translate(-70%, 300%);
}


/* 
@media only screen {
    and (min-device-width: 375px) 
    and (min-device-height: 812px) 
    and (-webkit-device-pixel-ratio: 3)
} */