.favorites-image{
  width: 300px;
  height: 300px;

}

.favorites-h1{
  font-family: 'Poppins', sans-serif;
  margin-left: 20px;
}

.header-fav{
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 28px; 
}

.bring-this{
  text-align: center;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 25px;
}


