.details-container{
  display: flex;
  height:70vh ;
  
}

@media only screen and (max-width:375px) {
  .details-container{
  display: grid;
  grid-template-columns: 55% 40%;
  
}
}

.detailsheader {
  font-family: "Poppins", sans-serif;
  height: 100px;
  text-align: center;
  font-size: 30px;
  color: rgb(13, 55, 196);
  
}

.imagedetail {
  width: 300px;
  height: 400px;
}

 .starrating{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
 }


.rating {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  
}

.review-header{
  text-align: center;
  padding-bottom: 15px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}
.review{
font-family: 'Poppins', sans-serif;
}



