.details-container{
  display: flex;
  height:70vh ;
  justify-content: center;
  
}

@media only screen and (max-width:500px) {
  .details-container{
  display: grid;
  justify-content: 50% auto;
  
  }
}

.detailsheader {
  font-family: "Poppins", sans-serif;
  height: 150px;
  text-align: center;
  font-size: 25px;
  color: rgb(13, 55, 196);
  
}

.imagedetail {
  width: 300px;
  height: 400px;
}

 .starrating{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
 }


.rating {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
 
  
}

.review-header{
  text-align: center;
  padding-bottom: 15px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  
}
.review{
font-family: 'Poppins', sans-serif;
margin-left: 10px;
text-align: center;
}

@media only screen and (max-width: 500px) {
  .review {
    margin-right: 20px;
  }
  .imagedetail{
    width: 200px;
    height:200px;
    margin-left: 100px;
   
  }

}





