.details-container{
  display: flex;
  height:70vh ;
  
}

@media only screen and (max-width:375px) {
  .details-container{
  display: flex;
  justify-content: center;
  
  }
}

.detailsheader {
  font-family: "Poppins", sans-serif;
  height: 150px;
  text-align: center;
  font-size: 25px;
  color: rgb(13, 55, 196);
  
}

.imagedetail {
  width: 300px;
  height: 400px;
}

 .starrating{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
 }


.rating {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
 margin-left: 25px;
  
}

.review-header{
  text-align: center;
  padding-bottom: 15px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  margin-left: 25px;
}
.review{
font-family: 'Poppins', sans-serif;
margin-left: 40px;
}


@media only screen and (max-width: 375px) {
  .review {
    margin-right: 20px;
  }
  .imagedetail{
    width: 200px;
    height:200px;
    display: flex;
    justify-content: center;
  }
}

@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
}



