.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows:  1fr 1fr 1fr;
  max-width: 100%;
  background-color: #cbb4ac;
  column-gap: 15px;
  row-gap: 1ch;
}
.makeup {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows:  1fr 1fr 1fr;
  background-color: #cbb4ac;
 
}

.headers{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px;
  background-color: #cbb4ac;
}

.headerlist {
  display: grid;
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  grid-row: 1;
  grid-column: 1/ 3;
}

.image {
  width: 300px;
  height: 300px;
  mix-blend-mode: multiply;
}

.listh1 {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  color: white;
}

.linkAdd {
  display: grid;
  grid-row: 1;
  grid-column: 3;
  font-family: "Poppins", sans-serif;
  color: white;
  text-decoration: underline;
  justify-content: center;
}
